.layout {
  flex-direction: column;

  /*position: relative;
  */
}

.header {
  height: 20vh;
  display: flex;
  align-items: center;
  width: 100%;
}

.header > div {
  display: flex;
  flex-direction: column;
}
.header > div > button {
  width: 150px;
  outline: none;
  align-self: end;
}

.footer {
  height: 5vh;
}

.main {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 150px;
  height: 140px;
}

.collegeName {
  font-size: 2.5rem;
  margin-left: 20px;
}
.title {
  font-size: 1.5em;
  margin-left: 20px;
}
